@model Capstone4.Models.ContractorAcceptance

@{
    ViewBag.Title = "Already_Confirmed_Contractor";
}

<h2>Already Confirmed Contractor</h2>

@{int id = Model.ServiceRequest.ID; }

<strong>You have already confirmed a contractor for Service Request #@id.</strong>

