@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "Already_Paid";
}

<h2>Already Paid</h2>
@{int id = Model.ID; }

<strong>You have already submitted payment for Service Request #@id.</strong>

