@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "Contractor_Already_Accepted";
}

<h2>A Contractor has Already Been Accepted</h2>

@{int id = Model.ID; }

<strong>A contractor has already been accepted for Service Request #@id.</strong>

