
@{
    ViewBag.Title = "Must_be_logged_in_to_accept_request";
}

<h2>Must be logged in to accept request</h2>

<strong>You must be logged in as a registered contractor to accept a service request.</strong>
