@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "NoEdit";
}

<h2>NoEdit</h2>

@{int number = Model.Service_Number; }

<strong>Service Request number @number has already been posted in the system and editing has been disabled.</strong>

