@model Capstone4.Models.ServiceRequest


@{
    ViewBag.Title = "PaymentFailure";
}

<h2>Payment Failure</h2>

@{int id = Model.ID; }

<strong>
Something went wrong with your payment!
</strong>
<br /><br />


<button id='back' onclick="document.location.href='/ServiceRequests/PaymentView/'+@id">Back</button>

@section Scripts {
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function(){
        if (window != top) {
            top.location.replace(document.location);
        }
    })
  </script>

}