@model Capstone4.Models.ServiceRequest

@{
    ViewBag.Title = "PaymentSuccess";
}

<h2>Payment Success</h2>


@{string name = Model.Homeowner.FirstName; }
@{decimal amount = Model.Price; }
@{string mail = Model.Homeowner.ApplicationUser.Email; }
<strong>
    Hello @name!
    <br /><br />
    Thank you for using Work Warriors!  
    <br /><br />
    You have made a payment of $@amount. 
    <br /><br />
    A confimation email will be sent to @mail.
</strong>
<br /><br />

<button id='back' onclick="document.location.href='/Home/'">Home</button>

@section Scripts {
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function(){
        if (window != top) {
            top.location.replace(document.location);
        }
    })
    </script>

}
